<nav aria-label="Picture pagination" class="shadow-none">

  <ul class="pagination justify-content-center mb-0">
    <a class="page-link" aria-label="Previous" (click)="previous()">
      <span aria-hidden="true">&laquo;</span>
    </a>

    <ng-container *ngFor="let page of pagesArr">
      <li class="page-item text-center"><a class="page-link" (click)="goto(page)"><span>{{page}}</span></a></li>
    </ng-container>


    <a class="page-link" aria-label="Next" (click)="next()">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </ul>

</nav>
