.fs {
  line-height: 24px !important;
}
.acc-tab-title {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  line-height: 24px;
}
span {
  text-decoration: none !important;
}
.gap {
  gap: 0.5rem;
}
.min-w-75 {
  min-width: 75%;
}
