<div class="sidebar">
  <div class="card mt-2">
    <ul class="list-group list-group-flush">

      <div *ngIf="!userInfo" class="text-center">
        <li class="list-group-item text-center">
          <a routerLink="/login" mat-stroked-button color="primary" class="w-100 p-2 m-0">
            <p>Zaloguj się!</p>
          </a>
        </li>

        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </div>

      <div *ngIf="userInfo" class="text-center">
        <li class="list-group-item">
            <h5>Zalogowano jako {{userInfo.accountDto.nickname}}</h5>
        </li>

        <li class="list-group-item">
          <a class="w-100 mb-2" mat-stroked-button color="primary" routerLink="/picture/post"> Wstaw obrazek </a>
          <a class="w-100 mb-2" mat-stroked-button color="primary" routerLink="/account/{{userInfo.accountDto.id}}"> Moje obrazki </a>
          <a class="w-100" mat-stroked-button color="primary" routerLink="/account/{{userInfo.accountDto.id}}"> Moje konto </a>
        </li>

      </div>


    </ul>
  </div>
</div>
