<div class="sidebar shadow-sm">
  <div class="p-0 text-center disable-selection shadow-sm">

<!--    <mat-expansion-panel hideToggle class="rounded-0"-->
<!--                         [expanded]="userInfo !== undefined"-->
<!--                         [disabled]="userInfo === undefined">-->
<!--      <mat-expansion-panel-header class="border">-->
<!--        <mat-panel-title class="w-100 m-0 justify-content-center">-->
<!--          <p>-->
<!--            <span class="d-flex justify-content-center">-->
<!--                <span class="material-icons">person</span>-->
<!--                <span class="fs">Moje konto</span>-->
<!--            </span>-->
<!--          </p>-->
<!--        </mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <div *ngIf="userInfo">-->
<!--        <p class="text-secondary pt-3">-->
<!--          Zalogowano jako {{userInfo!.accountDto.nickname}}-->
<!--        </p>-->
<!--      </div>-->
<!--    </mat-expansion-panel>-->

<!--    <mat-expansion-panel hideToggle class="rounded-0 shadow-sm"-->
<!--                         [disabled]="userInfo === undefined">-->
<!--      <mat-expansion-panel-header class="border">-->
<!--        <mat-panel-title class="w-100 m-0 justify-content-center">-->
<!--          <p>-->
<!--            <span class="d-flex justify-content-center">-->
<!--              <span class="material-icons">photo_library</span>-->
<!--              <span class="fs">Moje obrazki</span>-->
<!--            </span>-->
<!--          </p>-->
<!--        </mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <div>-->
<!--        <button pButton class="w-100 p-button-outlined" routerLink="/picture/post" label="Wstaw obrazek"></button>-->
<!--        <p class="text-secondary pt-3">-->
<!--          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur cupiditate dolorem eaque earum harum maxime natus, nemo obcaecati possimus, quia tempore unde? Dignissimos ducimus excepturi impedit ipsum iusto provident sed velit! Esse minima natus officiis, quibusdam quos sed vero!-->
<!--        </p>-->
<!--      </div>-->
<!--    </mat-expansion-panel>-->


    <p-accordion>
      <p-accordionTab [selected]="true"
                      *ngIf="userInfo === undefined">
        <ng-template pTemplate="header">
          <div class="acc-tab-title py-1">
            Zaloguj się lub zarejestruj!
          </div>
        </ng-template>
        <button pButton pRipple routerLink="/login" type="button" label="Zaloguj się"
                class="p-button-outlined w-100 p-3 border"></button>

        <button pButton pRipple routerLink="/register" type="button" label="Zarejestruj się"
                class="p-button-outlined w-100 mt-2 p-3 border"></button>
      </p-accordionTab>

      <p-accordionTab [selected]="userInfo !== undefined" [disabled]="userInfo === undefined">
        <ng-template pTemplate="header">
          <div class="acc-tab-title">
            <span class="material-icons">person</span>
            <span>Moje konto</span>
          </div>
        </ng-template>

          <div *ngIf="userInfo">
            <p class="text-secondary">
              Zalogowano jako {{userInfo!.accountDto.nickname}}
            </p>
          </div>
      </p-accordionTab>

      <p-accordionTab [disabled]="userInfo === undefined">
        <ng-template pTemplate="header">
          <div class="acc-tab-title">
            <span class="material-icons">photo_library</span>
            <span>Moje obrazki</span>
          </div>
        </ng-template>
        <button pButton class="w-100 p-button-outlined" routerLink="/picture/post" label="Wstaw obrazek"></button>
      </p-accordionTab>
    </p-accordion>

  </div>
</div>
