<div class="sidebar shadow-sm">
  <div class="p-0 text-center disable-selection shadow-sm">

    <p-accordion>

      <p-accordionTab [selected]="true"
                      *ngIf="userInfo === undefined">
        <ng-template pTemplate="header">
          <div class="acc-tab-title py-1">
            Zaloguj się lub zarejestruj!
          </div>
        </ng-template>
        <button pButton pRipple routerLink="/login" type="button" label="Zaloguj się"
                class="p-button-outlined w-100 p-3 border"></button>

        <button pButton pRipple routerLink="/register" type="button" label="Zarejestruj się"
                class="p-button-outlined w-100 mt-2 p-3 border"></button>
      </p-accordionTab>

      <p-accordionTab [selected]="userInfo !== undefined" [disabled]="userInfo === undefined">
        <ng-template pTemplate="header">
          <div class="acc-tab-title">
            <span class="material-icons">person</span>
            <span>Moje konto</span>
          </div>
        </ng-template>

<!--        content-->
          <div *ngIf="userInfo">
            <p class="text-secondary">
              Zalogowano jako {{userInfo!.accountDto.nickname}}
            </p>

          </div>
      </p-accordionTab>

      <p-accordionTab [disabled]="userInfo === undefined">
        <ng-template pTemplate="header">
          <div class="acc-tab-title">
            <span class="material-icons">photo_library</span>
            <span>Moje obrazki</span>
          </div>
        </ng-template>

<!--        content-->
        <div *ngIf="userInfo">
          <button pButton class="w-100 p-button-outlined" routerLink="/picture/post" label="Wstaw obrazek"></button>

        </div>

      </p-accordionTab>

    </p-accordion>

  </div>
</div>
