<nav>
  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-md">

        <a class="navbar-brand" routerLink="home">
            <img src="https://preview.redd.it/nvaxpuqwius41.jpg?auto=webp&s=803366717450b2e1afd8d216545578278a7b4564" class="navbar-logo" alt="logo">
            <span class="p-2">PicturesUI</span>
        </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-container justify-content-end row" id="navbarSupportedContent">

      <div class="navbar-right col-12 col-lg-auto">
        <ul class="navbar-nav dropdown-menu-dark me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
              <span class="d-flex justify-content-center">
                <span class="material-icons">home</span>
                <span class="fs"><p>Strona główna</p></span>
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-center" routerLink="search" routerLinkActive="active">
              <span class="d-flex justify-content-center">
                <span class="material-icons">search</span>
                <span class="fs"><p>Odkrywaj</p></span>
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/error404" routerLinkActive="active">
              <span class="d-flex justify-content-center">
                <span class="material-icons">trending_up</span>
                <span class="fs"><p>Popularne</p></span>
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/myaccount" routerLinkActive="active">
              <span class="d-flex justify-content-center">
                <span class="material-icons">person</span>
                <span class="fs"><p>Konto</p></span>
              </span>
            </a>
          </li>

        </ul>
      </div>


    </div>
    </div>
  </div>
</nav>


