<form class="flex flex-col" #commentForm="ngForm" (ngSubmit)="comment()">
  <textarea
    [(ngModel)]="commentText"
    [placeholder]="isLoggedOn ? 'Write a comment...' : 'Log in to write a comment...'"
    class="p-2 border-2 border-b-0 rounded-t-lg resize-none focus:outline-0"
    minlength="2"
    name="commentText"
    required
    rows="3">
  </textarea>

  <div class="w-full flex flex-row justify-between items-center border-2 border-t-0 rounded-b-lg p-2 pt-0">
    <button
      [disabled]="!isLoggedOn || commentForm.invalid || (awaitSubmit | async)"
      [ngClass]="{'opacity-60': !isLoggedOn || commentForm.invalid || (awaitSubmit | async)}"
      class="bg-cta text-white text-sm py-1 px-3 btn"
      type="submit"
    >
      Comment
    </button>
    <div class="w-min" @fadeInOut *ngIf="(awaitSubmit | async)">
      <span class="opacity-60">sending...</span>
    </div>
  </div>

</form>
