<div #scrollableElement class="scrollable-content content mx-3">
  <div class="flex flex-col gap-2.5" *ngIf="pic?.comments?.length else noComments">
    <div class="flex flex-col gap-1.5 rounded-lg bg-surface-300 p-2 md:p-3" @fadeInOut *ngFor="let comm of pic.comments">
      <pp-account-inline-link [acc]="comm.account" />
      <div class="flex flex-wrap">
        <p>{{comm.text}}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #noComments>
  <div class="text-center opacity-70 flex-grow">
    No comments yet <br>
    <span class="text-sm">Be the <b>first</b> one!</span>
  </div>
</ng-template>
