img {
  aspect-ratio: 4/3;
  max-width: 11rem;
  object-fit: cover;
  @media only screen and(max-width: 575px) {
    max-width: clamp(200px, 60vw, 60vw);
  }
}
.title-wrapper {
  width: 12.5rem;
  .title {
    font-size: 1.25rem;
    width: fit-content;
    font-weight: 500;
    @media only screen and(max-width: 575px) {
      text-align: center !important;
      width: 100%;
    }
  }
  .description {
    font-size: 0.875rem;
    width: fit-content;
    font-style: italic;
    @media only screen and(max-width: 575px) {
      text-align: center !important;
      width: 100%;
    }
  }
  @media only screen and(max-width: 575px) {
    text-align: center !important;
  }
}
.tag-wrapper {
  margin-top: 0.25rem;
  max-width: 23.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.gap {
  gap: 0.5rem;
}
.info-wrapper {
  @media only screen and(max-width: 575px) {
    width: 40rem;
  }
}
.bi {
  font-size: 2rem;
}
.add-date {
  font-size: 0.75rem;
}
