<div class="main">
  <div class="container pt-4 pt-md-5 w-100 w-lg-50">

    <div class="card">
      <div class="card-body">

        <form class="text-center row" [formGroup]="form" (submit)="submit()">

          <div class="col-12 pb-3">
            <h2>Rejestracja</h2>
          </div>


          <div class="mb-3 text-left col-12">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nazwa użytkownika</mat-label>
              <input matInput formControlName="nickname" type="text" [formControl]="requiredFormControl" required/>
              <mat-error *ngIf="!isNicknameFree">
                Ta nazwa użytkownika jest zajęta
              </mat-error>
              <mat-error *ngIf="!isNicknameValid">
                Nazwa użytkownika powinna zawierać co najmniej 4 znaki
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3 text-left col-12">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email" [formControl]="requiredFormControl" required/>
              <mat-error *ngIf="!isEmailValid">
                Proszę wpisać poprawny adres e-mail
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3 text-left col-12">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Hasło</mat-label>
              <input matInput formControlName="password" type="password" [formControl]="requiredFormControl" required/>
              <mat-error *ngIf="!isPasswordValid">
                Hasło powinno mieć co najmniej 8 znaków
              </mat-error>
            </mat-form-field>

          </div>

          <div class="mb-3 text-left col-12">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Potwierdź hasło</mat-label>
              <input matInput formControlName="confirmPassword" type="password" [formControl]="requiredFormControl" required/>
              <mat-error *ngIf="!isPassSubmitValid && isPasswordValid">
                Hasła nie są takie same
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12">
            <button type="submit" mat-raised-button color="primary" class="px-2 px-md-5 mat-button-primary" [disabled]="form.invalid">Zarejestruj się</button>
          </div>


        </form>

      </div>
    </div>
    <div class="col-12 text-center py-2">
      <a routerLink="../login" class="register-link">Masz już konto? Zaloguj się!</a>
    </div>



  </div>
</div>
