p {
  margin: 0 !important;
  vertical-align: middle;
  text-align: center;
}
.container-fluid {
  padding: 0 5rem !important;
}
.separator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
.fs {
  line-height: 24px;
}
.bi {
  font-size: 1.2rem;
}
.span-link {
  font-size: 1.5rem;
  text-decoration: none;
  width: max-content;
}
