<footer class="bg-dark">
  <div class="container w-100 bg-dark">
      <div class="container">
          <div class="grid">
              <div class="row">
                  <div class="col-12 col-md-6"><p class="py-2 text-white">footer text</p></div>
                  <div class="col-12 col-md-6"><p class="py-2 text-white">footer text</p></div>
              </div>
          </div>
      </div>

      <div class="separator"></div>

      <div class="container">
          <div class="grid">
              <div class="row navbar navbar-dark bg-dark">

                <div class="col-12">
                  <div class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item d-md-flex justify-content-md-center">

                      <a class="nav-link" routerLink="/privacy-policy" routerLinkActive="active">
                        <span class="d-flex justify-content-center px-2">
                          <mat-icon>lock</mat-icon>
                          <span class="fs"><p>Polityka prywatności</p></span>
                        </span>
                      </a>
                      <a class="nav-link" routerLink="/rulebook" routerLinkActive="active">
                        <span class="d-flex justify-content-center px-2">
                          <mat-icon>description</mat-icon>
                          <span class="fs"><p>Regulamin strony</p></span>
                        </span>
                      </a>

                    </li>

                  </div>
                </div>


              </div>
          </div>
      </div>
  </div>
</footer>

