<div *ngIf="account" class="px-3 px-md-0">

  <div class="mb-3 d-flex align-items-center justify-content-between">
    <button pButton pRipple label="Powrót" icon="bi bi-arrow-return-left" class="px-3" (click)="return()"></button>
    <button pButton pRipple label="Ustawienia" icon="bi bi-gear-fill" class="px-3"
            (click)="showAccountSettings()" *ngIf="account.isModifiable"></button>
  </div>

  <div class="text-center mb-3">
    <h2 class="font-weight-bold mb-2">Szczegóły konta</h2>
    <h4>
      <span class="d-flex justify-content-center align-items-center">
        <span class="bi bi-person-fill"></span>
        <span>{{account.nickname}}</span>
        <span *ngIf="isVisitorAccOwner">&nbsp;(ty)</span>
      </span>
    </h4>
  </div>
  <h5 class="font-weight-bold">Informacje o koncie:</h5>
  <ul>
    <li *ngIf="isVisitorAccOwner">
        <span class="li-item">
          <span class="bi bi-envelope mr-1"></span>
          <b>Adres e-mail:</b>
        </span>
      <span class="ml-4">
          {{account.email}}
        </span>
    </li>
    <li>
        <span class="li-item">
          <span class="bi bi-calendar mr-1"></span>
          <b>Konto utworzone:</b>
        </span>
      <span class="ml-4">
          {{account.accountCreated | date:"hh:mm, dd/MM/yyyy"}}
        </span>
    </li>
    <li>
        <span class="li-item">
          <span class="bi bi-images mr-1"></span>
          <b>Ilość obrazków:</b>
        </span>
      <span class="ml-4">
          {{account.pictures.length}}
        </span>
    </li>
  </ul>

  <div class="my-4 mb-md-5 px-2" *ngIf="account.pictures.length">
    <p-dataView #dv [value]="account.pictures" [paginator]="true" [rows]="10" filterBy="name">
      <ng-template pTemplate="header">
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center flex-wrap gap-2">
          <h5 class="text-center text-sm-left">Obrazki użytkownika <b>{{account.nickname}}</b></h5>
          <span class="p-input-icon-left md:mb-0 d-flex align-items-center">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Znajdź obrazek" (input)="filter($event)">
          </span>
        </div>
      </ng-template>

      <ng-template let-picture pTemplate="listItem" class="border">
        <app-picture-table
          [picture]="picture"
          [isVisitorOwner]="isVisitorAccOwner">
        </app-picture-table>
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="d-flex justify-content-center align-items-center">
          <p class="text-muted">Łączna liczba obrazków: {{account.pictures.length}}</p>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <div class="my-4 px-2" *ngIf="!account.pictures.length">
    <p class="text-muted text-center">Ten użytkownik nie zapostował jeszcze żadnego obrazka.</p>
  </div>


  <p-dialog [(visible)]="showAccountSettingsFlag" header="Ustawienia konta"
            [modal]="true" [dismissableMask]="true" [draggable]="false">
    <app-account-settings [account]="account" (onSubmit)="closeModals()"></app-account-settings>
  </p-dialog>
  <p-dialog [(visible)]="showAdminAccountSettingsFlag" header="Ustawienia administratorskie konta"
            [modal]="true" [dismissableMask]="true" [draggable]="false">
    <app-account-admin-settings [account]="account" (onBan)="banAccount()"></app-account-admin-settings>
  </p-dialog>

</div>
