<div class="d-flex flex-wrap justify-content-center justify-content-sm-between p-2 border-bottom">

  <div *ngIf="picture !== undefined">
    <div class="d-flex flex-column flex-sm-row align-items-center">
      <img src="{{picture.url}}" alt="{{picture.name}}">
      <div class="title-wrapper">
        <p class="title px-2">{{picture.name | titlecase}}</p>
        <p class="add-date px-2 text-muted">Dodano {{picture.pictureAdded | date:"dd/M/yy, HH:mm"}}</p>
        <p class="description px-2 mt-2 text-muted" *ngIf="picture.description && picture.description.length > 40">
          {{picture.description | slice:0:40}}...
        </p>
        <p class="description px-2 mt-2 text-muted" *ngIf="picture.description && picture.description.length <= 40">
          {{picture.description | slice:0:40}}
        </p>
      </div>
    </div>

    <div class="tag-wrapper mt justify-content-center justify-content-sm-start">
            <span *ngFor="let tag of picture.tags | slice:0:6">
              <p-tag value="{{tag}}" icon="bi bi-tag"></p-tag>
            </span>
    </div>

  </div>

  <div class="d-flex flex-column justify-content-between info-wrapper mr-1">
    <div class="d-flex flex-row justify-content-center justify-content-sm-around">
      <button pButton disabled label="{{picture.likeCount}}"
              icon="bi bi-hand-thumbs-up-fill" class="p-button-text px-1 py-1">
      </button>
      <button pButton disabled label="{{picture.dislikeCount}}"
              icon="bi bi-hand-thumbs-down-fill" class="p-button-text px-1 py-1">
      </button>
    </div>

    <div class="d-flex flex-row justify-content-center justify-content-sm-end align-items-center align-items-sm-end gap">
      <button pButton pRipple icon="bi bi-info-circle"
              class="p-button-raised py-1 px-2" (click)="showDetails()">
      </button>
      <button pButton pRipple icon="bi bi-gear"
              class="p-button-raised py-1 px-2" (click)="showSettings()">
      </button>
    </div>
  </div>

</div>

<p-dialog [(visible)]="showDetailsFlag" header="Szczegóły obrazka" position="center"
          [draggable]="false" [closeOnEscape]="true" (onHide)="enableScroll()">
  <app-picture-details [picture]="picture" [isLoggedOn]="true">
  </app-picture-details>
</p-dialog>

<p-dialog [(visible)]="showSettingsFlag" header="Ustawienia obrazka" position="center"
          [draggable]="false" [closeOnEscape]="true" (onHide)="enableScroll()">
  <app-picture-settings [picture]="picture" (onDelete)="delete()">
  </app-picture-settings>
</p-dialog>
