<div class="row">

  <div class="col-12 text-left mb-2 text-break">
    <h2><strong>{{picture.name | titlecase}}</strong></h2>
  </div>
  <div class="col-12 col-md-8 text-center d-flex flex-column justify-content-center align-items-center">
    <app-modal-pic
      [name]="picture.name"
      [url]="picture.url"
      [accountNickname]="picture.accountNickname"
      [tags]="picture.tags">
    </app-modal-pic>

    <div class="d-flex align-items-center justify-content-center mt-4 pb-3 mb-md-0 pb-md-0 gap-1">
      <button class="mx-1 py-2" pButton pRipple (click)="like()" [disabled]="!isLoggedOn">
        <strong class="pr-2">{{picture.likeCount}}</strong>
        <span class="bi" [ngClass]="picture.isLiked ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'" aria-label="like"></span>
      </button>
      <button class="mx-1 py-2" pButton pRipple (click)="dislike()" [disabled]="!isLoggedOn">
        <strong class="pr-2">{{picture.dislikeCount}}</strong>
        <span class="bi" [ngClass]="picture.isDisliked ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'" aria-label="like"></span>
      </button>
    </div>

  </div>

  <div class="col-12 col-md-4 d-flex flex-column justify-content-between pt-3 pt-md-0 h-100">
    <div>
      <app-modal-info
        [pictureAdded]="picture.pictureAdded"
        [accountNickname]="picture.accountNickname"
        [description]="picture.description">
      </app-modal-info>
      <div class="d-flex justify-content-center mb-3 mb-xl-4">
        <p-selectButton [options]="selectOptions" [(ngModel)]="selectValue" optionLabel="name">
          <ng-template let-item>
            <p class="select-item {{item.class}}"><span class="ml-1">{{item.name}}</span></p>
          </ng-template>
        </p-selectButton>
      </div>

      <app-like-table [likes]="picture.likes"
                      *ngIf="selectValue.name === 'Polubienia'">
      </app-like-table>

      <div class="d-flex flex-column justify-content-between" *ngIf="selectValue.name === 'Komentarze'">
        <app-comment-table [comments]="picture.comments"
                           (onDelete)="deleteComment($event)">
        </app-comment-table>

        <div class="mt-3 text-center">
          <form (ngSubmit)="comment()" [formGroup]="commentForm">
            <div class="d-flex flex-column">
              <textarea id="comment-input" class="w-100" formControlName="text" rows="3" cols="30"
                        placeholder="Napisz komentarz!" pInputTextarea></textarea>
              <label for="comment-input" class="m-0 text-muted" *ngIf="!isLoggedOn">
                <small>Aby dodać komentarz, konieczne jest zalogowanie się.</small>
              </label>
            </div>
            <button pButton pRipple label="Zatwierdź" class="w-50 mt-2" type="submit"
                    [disabled]="commentForm.invalid || awaitSubmit || !isLoggedOn"></button>
          </form>
        </div>
      </div>

    </div>

  </div>

</div>

