<div class="table-container" *ngIf="likes.length > 0">
  <div class="table">
    <div class="w-100 d-flex flex-row py-2 px-1 bg-darker border-bottom">
      <div class="table-title">
        <span class="bi bi-person-fill mr-1"></span>
        <b>Użytkownik</b>
      </div>
      <div class="table-title right">
        <span class="bi bi-star-fill mr-1"></span>
        <b>Ocena</b>
      </div>
    </div>
    <div class="scroll">
      <div *ngFor="let like of likes, index as i" class="table-row border-bottom"
           [ngClass]="i%2 ? 'bg-darker' : ''">
        <div class="item left-item py-2 px-1" [routerLink]="'account/'+like.accountId">
          <span [ngClass]="i%2 ? 'bi bi-person' : 'bi bi-person-fill' "></span>
          <span class="account-item">{{like.accountNickname | slice:0:22}}</span>
        </div>
        <div class="item right-item py-2 px-1">
          <span [ngClass]="like.isLike ? 'bi bi-hand-thumbs-up' : 'bi bi-hand-thumbs-down-fill'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="likes.length === 0" class="text-muted text-center">
  <p>Masz okazję być pierwszą osobą, która polubi ten obrazek!</p>
</div>
