@import "colors";
// general schema
$primary-active-color: $green-900;
$primary-btn-hover-color: $green-700;
$primary-hover-color: $green-700;
$primary-color: $green-500;
$focus-ring-color: $green-200;
$highlight-color: $green-100;

$primary-color-text: $white;
$default-font: Roboto, "Helvetica Neue", sans-serif;

  // text colors
  $text-color: $gray-800;
  $text-color-secondary: $gray-600;
  $error-color: $red-500;


//surface colors
$surface-a: $white;
$surface-b: #f8f9fa;
$surface-c: #e9ecef;
$surface-d: #dee2e6;
$surface-e: #ffffff;
$surface-f: #ffffff;

$surface-ground: $surface-b;
$surface-section: $surface-a;
$surface-card: $surface-a;
$surface-overlay: $surface-a;
$surface-border: $surface-d;
$surface-hover: $surface-c;

// paddings
$p1: 0.5rem;
$p2: 1rem;
$p3: 1.5rem;
$p4: 2rem;
$p5: 2.5rem;

// borders
$border-radius: 3px;
$border-color: #ced4da;

// additional
$maskbg: $opaque;

