
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PicturesUI-primary: mat.define-palette(mat.$green-palette);
$PicturesUI-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PicturesUI-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PicturesUI-theme: mat.define-light-theme((
  color: (
    primary: $PicturesUI-primary,
    accent: $PicturesUI-accent,
    warn: $PicturesUI-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PicturesUI-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";
@import "~primeicons/primeicons.css";
$navbar-height: 76px;

html{
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden !important;
  width: 100vw !important;
  ::-webkit-scrollbar{
    transition: 100ms ease;
    width: 11px;
    height: 11px;
  }
  ::-webkit-scrollbar-thumb{
    background: $gray-600;
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: $gray-700;
  }
  ::-webkit-scrollbar-track{
    top: 76px;
    background: #ababab;
    box-shadow: 0 0 7px -10px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 0 0 7px -10px rgba(0,0,0,0.4) inset;
    -moz-box-shadow: 0 0 7px -10px rgba(0,0,0,0.4) inset;
  }
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0 !important;
  padding: 0 !important;
}
.disable-selection, img {
  -webkit-touch-callout: none; /* iOS Safari                         */
  -webkit-user-select: none; /* Safari                             */
  -khtml-user-select: none; /* Konqueror HTML                     */
  -moz-user-select: none; /* Firefox in the past (old versions) */
  -ms-user-select: none; /* Internet Explorer (>=10) / Edge    */
  user-select: none; /* Currently supported:               */
  /* Chrome, Opera and Firefox          */
}
.sidebar{
  position: sticky;
  top: calc($navbar-height + 1.5rem);
  transition: 100ms ease;
}
.mat-paginator-container {
  justify-content: space-between !important;
}
nav{
  position: sticky;
  top: 0 !important;
  box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
}
footer{
  box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
}
.toast {
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  font-size: 14px;
  padding: 0.2rem 0.5rem;
  @media only screen and(max-width: 766px) {
    transform: translateX(-50%);
    bottom: 11rem;
    left: 50%;
  }
}
.mat-stroked-button {
  text-decoration: none !important;
}
.mat-button-primary{
  color: white !important;
  text-decoration: none !important;
  @media only screen and(max-width: 767px) {
    height: min-content !important;
  }
}
a:hover {
  text-decoration: none !important;
}
.paginator {
  position: sticky;
  bottom: 0;
  background-color: #efefef;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
