@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";
@import "~primeicons/primeicons.css";
@import "additional";

$navbar-height: 76px;

nav{
  position: sticky;
  position: -webkit-sticky;
  top: 0 !important;
  box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
}
.sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: calc(76px + 1.5rem);
  transition: 100ms ease;
}
footer{
  box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 16px -2px rgba(0,0,0,0.6);
}

.bi {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
a:hover {
  text-decoration: none !important;
}
.bb {
  border-bottom: 2px solid $gray-200 !important;
}
.bt {
  border-top: 2px solid $gray-200 !important;
}

.toast {
  position: fixed;
  bottom: 3em;
  right: 0.5em;
  font-size: 0.875rem;
  padding: 0.2rem 0.5rem;
  @media only screen and(max-width: 766px) {
    transform: translateX(-50%);
    bottom: 11rem;
    left: 50%;
  }
}
.paginator {
  position: sticky;
  bottom: 0;
  background-color: #efefef;
}

.p-dialog {
  @media screen and (max-width: 1140px) {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  max-width: 1140px;
  .p-dialog-header {
    background-color: $gray-400 !important;
    border-bottom: 1px solid $gray-500 !important;
  }
  .p-dialog-content {
    padding: 2rem !important;
    padding-top: 1rem !important;
  }
}

.p-dataview-content, .p-dataview-header, .p-paginator-bottom {
  outline: 1px solid $gray-200 !important;
  border: none !important;
}



