<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" [checked]="checkAllBoxes" #check (change)="checkAllBoxes = check.checked;  checkedEverything(check.checked);" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-4 py-3">
                    User
                </th>
                <th scope="col" class="px-4 py-3">
                    Id
                </th>
                <th scope="col" class="px-4 py-3">
                    Role
                </th>
                <th scope="col" class="px-4 py-3">
                    # of posts
                </th>
                <th scope="col" class="px-4 py-3">
                    Date of join
                </th>
                <th scope="col" class="px-4 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let entry of entries.items">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" (change)="checkedEntry(entry.id);" [checked]="this.checked.includes(entry.id)" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{entry.nickname}}
                </th>
                <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{entry.id}}
                </th>
                <td class="px-4 py-4">
                    {{ +entry.roleId === 1 ? 'Normal' : (+entry.roleId === 2 ? 'Moderator' : (+entry.roleId === 3 ? 'Administrator' : '')) }}
                </td>
                <td class="px-4 py-4">
                    {{entry.pictureCount}}
                </td>
                <td class="px-4 py-4">
                    {{entry.accountCreated}}
                </td>
                <td class="px-4 py-4">
                    <div class="flex cursor-pointer items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700" (click)="outputChecks()">Ban</div>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between" aria-label="Table PageSize">
        <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto p-4">Change Page Size</span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 pr-4">
            <li>
                <div (click)="this.newPageSize.emit(5)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">5</div>
            </li>
            <li>
                <div (click)="this.newPageSize.emit(10)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">10</div>
            </li>
            <li>
                <div (click)="this.newPageSize.emit(15)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">15</div>
            </li>
            <li>
                <div (click)="this.newPageSize.emit(25)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">25</div>
            </li>
            <li>
                <div (click)="this.newPageSize.emit(50)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">50</div>
            </li>
            <li>
                <div (click)="this.newPageSize.emit(100)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">100</div>
            </li>
            <li>
                <div (click)="this.newPageSize.emit(250)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">250</div>
            </li>
        </ul>
    </nav>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto p-4">Showing <span class="font-semibold text-gray-900">{{((entries.page-1) * entries.pageSize) + 1 + "-" + (((entries.page)*entries.pageSize) < entries.totalItems ? ((entries.page)*entries.pageSize) : entries.totalItems)}}</span> of <span class="font-semibold text-gray-900">{{entries.totalItems}}</span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 pr-4">
            <li>
                <div (click)="this.newPage.emit(1)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">First</div>
            </li>
            <li>
                <div (click)="this.newPage.emit(entries.page-2)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{entries.page > 2 ? entries.page-2 : 1}}</div>
            </li>
            <li>
                <div (click)="this.newPage.emit(entries.page-1)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{entries.page > 1 ? entries.page-1 : 1}}</div>
            </li>
            <li>
                <div (click)="this.newPage.emit(entries.page)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700">{{entries.page}}</div>
            </li>
            <li>
                <div (click)="this.newPage.emit(entries.page+1)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{entries.page < entries.totalPages ? entries.page+1 : entries.totalPages}}</div>
            </li>
            <li>
                <div (click)="this.newPage.emit(entries.page+2)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{entries.page < entries.totalPages-1 ? entries.page+2 : entries.totalPages}}</div>
            </li>
            <li>
                <div (click)="this.newPage.emit(entries.totalPages)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Last</div>
            </li>
        </ul>
    </nav>
</div>
