<pp-setting-option 
    [text]="'Bardzo testowa opcja (nie naciskać)'" 
    [switchValue]="settingsService.getTestingButtonSetting()" 
    (valueChanged)="testSetting = $event; settingsService.setTestingButtonSetting($event)">
</pp-setting-option>
<pp-easter-egg [playEasterEgg]="testSetting"></pp-easter-egg>

<pp-setting-option 
    [ngClass]="isModeratororAdmin ? '' : 'hidden'"
    [text]="'Show moderator buttons on posts'"
    [switchValue]="settingsService.getModeratorButtonsSetting()" 
    (valueChanged)="settingsService.setModeratorButtonsSetting($event)">
</pp-setting-option>