<div *ngIf="picture != undefined" [id]="picture.id">

  <p-card header="{{picture.name | titlecase}}" subheader="Dodano przez: {{picture.accountNickname}}, {{picture.pictureAdded | timeago}}"
          styleClass="p-card-shadow card text-center mx-3 mx-md-0">
    <ng-template pTemplate="header"></ng-template>

    <img src='{{this.picture.url}}' class="img-fluid" alt="{{picture.name}} by {{picture.accountNickname}}" title="{{picture.name}} by {{picture.accountNickname}}">

    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-between">

        <div class="d-flex ml-3">
          <div class="d-none d-sm-block">
            <button pButton pRipple (click)="showDetails()" icon="bi bi-info-circle" label="Szczegóły" name="Szczegóły"></button>
          </div>
          <div class="d-block d-sm-none">
            <button pButton pRipple (click)="showDetails()" icon="bi bi-info-circle" name="Szczegóły"></button>
          </div>
          <div *ngIf="picture.isModifiable">
            <button pButton pRipple (click)="showSettings()" class="ml-2" icon="bi bi-gear-fill" name="Administracja"></button>
          </div>
        </div>

          <div class="d-flex mr-3">
            <button class="mx-1 p-button-sm py-1" pButton pRipple (click)="like()" [disabled]="!isLoggedOn" aria-label="like">
              <strong class="pr-2">{{picture.likeCount}}</strong>
              <span class="bi" [ngClass]="picture.isLiked ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'" ></span>
            </button>

            <button class="mx-1 p-button-sm py-1" pButton pRipple (click)="dislike()" [disabled]="!isLoggedOn" aria-label="dislike">
              <strong class="pr-2">{{picture.dislikeCount}}</strong>
              <span class="bi" [ngClass]="picture.isDisliked ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'" ></span>
            </button>
          </div>

        </div>
    </ng-template>
  </p-card>

</div>

<p-dialog [(visible)]="showDetailsFlag" [modal]="true" [dismissableMask]="true"
          header="Szczegóły obrazka" position="center"
          [draggable]="false" [closeOnEscape]="true" [blockScroll]="true">
  <app-picture-details [picture]="picture" [isLoggedOn]="isLoggedOn!">
  </app-picture-details>
</p-dialog>

<p-dialog [(visible)]="showSettingsFlag" *ngIf="picture.isModifiable"
          [modal]="true" [dismissableMask]="true" [blockScroll]="true"
          header="Ustawienia obrazka" position="center"
          [draggable]="false" [closeOnEscape]="true">
  <app-picture-settings [picture]="picture" (onDelete)="delete()">
  </app-picture-settings>
</p-dialog>

<p-dialog [(visible)]="showAdminSettingsFlag" *ngIf="picture.isModifiable"
          [modal]="true" [dismissableMask]="true" [blockScroll]="true"
          header="Ustawienia administratorskie obrazka" position="center"
          [draggable]="false" [closeOnEscape]="true">
  <app-picture-admin-settings [picture]="picture" (onDelete)="delete()">
  </app-picture-admin-settings>
</p-dialog>
