.card{
  width: auto;
  .card-body{
    padding: 0;
  }
  img{
    width: 100%;
    max-height: 550px;
    object-fit: fill;
    transition: 500ms ease;
  }
  h5 {
    font-size: 24px;
    margin-bottom: 4px;
  }
  .vote{
    width: 32px;
    height: 32px;
  }
  .vert-mid{
    vertical-align: middle;
  }
  .f-sm{
    font-size: 14px;
    padding-right: 0.2rem;
  }
  .card-footer{
    padding: 0.5rem 1.5rem;
  }
  @media only screen and(max-width: 576px) {
    h5{
      font-size: 18px;
    }
    h6{
      font-size: 12px;
      .f-sm{
        font-size: 10px;
      }
    }
    .card-footer{
      padding: 7px 20px;
    }
    .btn{
      padding: 5px;
      font-size: 12px;
    }
  }
}
.container {
  horiz-align: center;
  width: 75%;
}

