<div class="px-3 px-md-0 mb-4">

  <p-dataView #dv [value]="pictures" [paginator]="true" [rows]="4" filterBy="name">
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-around justify-content-sm-between align-items-center flex-wrap">
        <h2>Moje obrazki</h2>
        <span class="p-input-icon-left md:mb-0 d-flex align-items-center">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Znajdź obrazek" (input)="filter($event)">
      </span>
      </div>
    </ng-template>

    <ng-template let-picture pTemplate="listItem" class="border">
      <app-pictures-view
        [picture]="picture">
      </app-pictures-view>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="w-100 d-flex justify-content-center align-items-center">
        <small>{{picturesCount === 0 ? "Nie masz jeszcze obrazków." : "Ilość twoich obrazków: " + picturesCount }}</small>
      </div>
    </ng-template>

  </p-dataView>

</div>

