img {
  aspect-ratio: 16/10;
  max-width: 12rem;
}
.title-wrapper {
  width: 11rem;
  .title {
    font-size: 1.25rem;
    max-width: 11rem;
    width: fit-content;
    font-weight: 500;
  }
  .description {
    font-size: 0.875rem;
    width: fit-content;
    font-style: italic;
  }
}
.tag-wrapper {
  max-width: 23rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.25rem;
}
.gap {
  gap: 0.5rem;
}
.info-wrapper {
  @media only screen and(max-width: 576px) {
    width: 40rem;
  }
}
.bi {
  font-size: 2rem;
}
