<div class="row">

  <div class="col-12 text-break text-left mb-2">
    <h2><strong>{{picture.name | titlecase}}</strong></h2>
  </div>

  <div class="col-12 col-md-8 text-center">
    <img src="{{picture.url}}" alt="'{{picture.name}}' dodany przez {{picture.accountNickname}}" class="img-fluid mw border mb-2">
  </div>

  <div class="col-12 col-md-4 d-flex flex-column justify-content-between pt-3 pt-md-0">
    <div class="d-flex flex-column gap-05 pb-3 mb-4 border-bottom">
      <app-modal-info
        [accountNickname]="picture.accountNickname"
        [pictureAdded]="picture.pictureAdded"
        [description]="picture.description">
      </app-modal-info>
      <div class="d-flex align-items-start justify-content-center justify-content-md-start" label="Opis obrazka">
        <span class="bi bi-hand-thumbs-up-fill"></span>
        <p><i class="pr-3">{{picture.likeCount}}</i></p>
        <span class="bi bi-hand-thumbs-down-fill"></span>
        <p><i>{{picture.dislikeCount}}</i></p>
      </div>
      <div class="d-flex align-items-start justify-content-center justify-content-md-start" label="Opis obrazka">
        <span class="bi bi-tag-fill"></span>
        <p><i>{{picture.tags == [] || [" "] ? "brak tagów" : picture.tags}}</i></p>
      </div>
    </div>

    <div class="w-100">
      <div class="mb-3 text-center text-muted">
        <p>Jako administrator, możesz usunąć obrazek jeżeli narusza on politykę strony.</p>
      </div>
      <input type="text" pInputText class="w-100 mb-2" placeholder="Wpisz nazwę obrazka, aby usunąć" [(ngModel)]="deletePhrase">
      <button pButton pRipple class="p-button-danger mb-2 w-100" label="Usuń ten obrazek" (click)="delete()" [disabled]="deletePhrase.toLowerCase() !== picture.name.toLowerCase()"></button>
    </div>
  </div>

</div>

