<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" [checked]="checkAllBoxes" #check (change)="checkAllBoxes = check.checked;  checkedEverything(check.checked);" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-4 py-3">
                    User
                </th>
                <th scope="col" class="px-4 py-3">
                    Id
                </th>
                <th scope="col" class="px-4 py-3">
                    Role
                </th>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">
                    # of posts
                </th>
                <th scope="col" class="px-4 py-3">
                    Date of join
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let entry of entries.items">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" (change)="checkedEntry(entry.id);" [checked]="this.checked.includes(entry.id)" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{entry.nickname}}
                </th>
                <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{entry.id}}
                </th>
                <td class="px-4 py-4">
                    {{ +entry.roleId === 1 ? 'Normal' : (+entry.roleId === 2 ? 'Moderator' : (+entry.roleId === 3 ? 'Administrator' : '')) }}
                </td>
                <td class="px-4 py-4">
                    {{entry.pictureCount}}
                </td>
                <td class="px-4 py-4 whitespace-nowrap">
                    {{entry.accountCreated}}
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between" aria-label="Table PageSize">
        <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto p-4">Change Page Size</span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 pr-4">
            <li>
                <div (click)="changePageSize(5)" 
                [ngClass]="entries.pageSize == 5 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight rounded-s-lg">5</div>
            </li>
            <li>
                <div (click)="changePageSize(6)" 
                [ngClass]="entries.pageSize == 6 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">6</div>
            </li>
            <li>
                <div (click)="changePageSize(7)" 
                [ngClass]="entries.pageSize == 7 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">7</div>
            </li>
            <li>
                <div (click)="changePageSize(8)" 
                [ngClass]="entries.pageSize == 8 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">8</div>
            </li>
            <li>
                <div (click)="changePageSize(10)" 
                [ngClass]="entries.pageSize == 10 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">10</div>
            </li>
            <li>
                <div (click)="changePageSize(15)" 
                [ngClass]="entries.pageSize == 15 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">15</div>
            </li>
            <li>
                <div (click)="changePageSize(20)" 
                [ngClass]="entries.pageSize == 20 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight rounded-e-lg">20</div>
            </li>
        </ul>
    </nav>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto p-4">Showing <span class="font-semibold text-gray-900">{{((entries.page-1) * entries.pageSize) + 1 + "-" + (((entries.page)*entries.pageSize) < entries.totalItems ? ((entries.page)*entries.pageSize) : entries.totalItems)}}</span> of <span class="font-semibold text-gray-900">{{entries.totalItems}}</span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 pr-4">
            <li>
                <div (click)="changePage(1)" class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">First</div>
            </li>
            <li>
                <div (click)="changePage(entries.page > 2 ? entries.page-2 : 1)" 
                [ngClass]="entries.page == 1 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">{{entries.page < 3 ? 1 : (entries.page > entries.totalPages-2 ? entries.totalPages-4 : entries.page-2)}}</div>
            </li>
            <li>
                <div (click)="changePage(entries.page < 3 ? 2 : (entries.page > entries.totalPages-2 ? entries.totalPages-3 : entries.page-1))" 
                [ngClass]="entries.page == 2 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">{{entries.page < 3 ? 2 : (entries.page > entries.totalPages-2 ? entries.totalPages-3 : entries.page-1)}}</div>
            </li>
            <li>
                <div (click)="changePage(entries.page < 3 ? 3 : (entries.page > entries.totalPages-2 ? entries.totalPages-2 : entries.page))" 
                [ngClass]="entries.page > 2 && entries.page < entries.totalPages-1 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">{{entries.page < 3 ? 3 : (entries.page > entries.totalPages-2 ? entries.totalPages-2 : entries.page)}}</div>
            </li>
            <li>
                <div (click)="changePage(entries.page < 3 ? 4 : (entries.page > entries.totalPages-2 ? entries.totalPages-1 : entries.page+1))" 
                [ngClass]="entries.page == entries.totalPages-1 ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">{{entries.page < 3 ? 4 : (entries.page > entries.totalPages-2 ? entries.totalPages-1 : entries.page+1)}}</div>
            </li>
            <li>
                <div (click)="changePage(entries.page < 4 ? 5 : (entries.page > entries.totalPages-2 ? entries.totalPages : entries.page+2))" 
                [ngClass]="entries.page == entries.totalPages ? 'text-blue-700 border border-gray-300 bg-blue-50 hover:text-blue-700 hover:bg-blue-100': 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight">{{entries.page < 4 ? 5 : (entries.page > entries.totalPages-2 ? entries.totalPages : entries.page+2)}}</div>
            </li>
            <li>
                <div (click)="changePage(entries.totalPages)" 
                class="select-none flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Last</div>
            </li>
        </ul>
    </nav>
</div>
