<div class="d-flex flex-column">
  <h3 class="text-center text-break font-weight-bold mb-3">
    <span class="d-flex justify-content-center align-items-center">
      <span class="bi bi-person-fill"></span>
      <span>{{account.nickname}}</span>
    </span>
  </h3>
  <div class="text-muted text-center mb-4">
    <p>Jako administrator, możesz zbanować tego użytkownika.</p>
    <p><small>Nie usunie to jego obrazków ze strony głównej, ale nie będzie on w stanie zalogować się już na swoje konto</small></p>
    <p><small>Jeżeli ma zostać zbanowany za postowanie nieodpowiednie treści, to powinny zostać usunięte <b>ręcznie</b>.</small></p>
  </div>
  <div class="w-100 text-center">
    <input type="text" pInputText class="w-100 mb-2" placeholder="Wpisz nazwę tego użytkownika, aby usunąć" [(ngModel)]="banPhrase">
    <button pButton pRipple class="p-button-danger mb-2 w-100" label="Zbanuj to konto"
            [disabled]="banPhrase.toLowerCase() !== account.nickname.toLowerCase()" (click)="banAccount()"></button>
  </div>
</div>
