<ng-container *ngIf="pic">

  <div class="flex flex-col">

    <div class="flex bg-prime h-14 justify-between items-center text-white pp-shadow rounded-b-2xl">
      <div class="cont px-4 w-full sm:px-0 h-14 flex items-center justify-between">

        <a class="nav-link" (click)="close()">
          <img ngSrc="assets/logo/logo-row.png" class="invert" alt="PooPosting" height="32" width="147"/>
        </a>

        <a class="icon icon-user nav-link text-dark">
        </a>

      </div>
    </div>

    <div class="w-full h-[calc(100vh-56px)] flex flex-col md:flex-row gap-4">

      <div class="w-full md:w-3/5 lg:w-3/4 lg:h-[calc(100vh-56px)]">
        <img class="m-auto w-full lg:w-auto h-full object-contain" src="{{pic.url}}" alt="{{pic.name}}">
      </div>

      <div>
        comments
      </div>

    </div>

  </div>

</ng-container>
