<div class="container">
  <div class="main row">
    <div class="col text-center align-self-center m-0">
      <img class="img-fluid" src="../../../../assets/images/shrek404.png"
           alt="Nie znaleziono zasobu" title="Błąd 404">
      <div class="card-body pt-2 pb-0 px-0 text-center">

        <h3 class="card-title text-danger">
          <strong>Nie znaleziono zasobu (404)</strong>
        </h3>
        <h5 class="text-danger pb-2 px-md-5">
          <strong>
            Nie mogliśmy znaleźć tej strony. Spróbuj udać się na stronę główną.
          </strong>
        </h5>

        <div class="d-flex justify-content-between text-center p-2 row">
          <div class="col-12 p-0 pt-2">
            <a mat-stroked-button color="primary" routerLink="/home">Powtót do strony głównej</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div style="position: absolute; top: 150px; left: 50px">
  <h2>Do zrobienia:</h2>
  <ul>
    <li>Strona moje konto</li>
    <li>Strona moje obrazki</li>
    <li>Strona regulamin</li>
    <li>Strona zmiana danych</li>
    <li>Strona polityka prywatności</li>
    <li>Strona trending</li>

    <li>Refactor strony szczegóły</li>
    <li>Refactor sidebara</li>
    <li>Navbar guard</li>
    <li>Guard dla niektorych sciezek</li>
    <li>Navigate na error500 w razie jakiegokolwiek errora oprocz form i no pictures found</li>
    <li>Tłumaczenie elementów na język polski
      <ul>
        <li>Paginator</li>
        <li>Dodano x czasu temu w pictureComponent</li>
      </ul>
    </li>
    <li>Poprawić formularz postowania obrazków, w tym
      <ul>
        <li>Zmienić plug-in na CropperJs</li>
        <li>Użyć rozpoznawanie treści NSFW w obrazkach podczas postowania<br>(np: Amazon Rekognition)</li>
      </ul>
    </li>

    <br>
    <li>RZECZY WYMAGAJĄCE INGERENCJI W BACKEND:</li>
    <li>Dodać komentarze i powiadomienia o nich</li>
    <li>Zmienic algorytm dobierania obrazkow na 'punktowy'</li>
    <li>Logika panelu wyszukiwania</li>
  </ul>
</div>
