.container{
  height: 100%;
}
.btn {
  margin-top: 0.5rem;
}
.form-label{
  margin: 2px;
}
.w-lg-50{
  @media only screen and(min-width: 992px) {
    width: 40vw !important;
  }
}
label {
  line-height: 18px;
}
.mb-4 {
  margin-bottom: 28px !important;
}
