<div class="d-flex flex-column gap-1 pb-3 mb-3 border-bottom">
  <div class="d-flex align-items-start justify-content-center justify-content-md-start" label="Osoba postująca obrazek">
    <span class="bi bi-person-fill"></span>
    <p><strong>{{accountNickname}}</strong></p>
  </div>

  <div class="d-flex align-items-start justify-content-center justify-content-md-start" label="Data dodania obrazka">
    <span class="bi bi-calendar"></span>
    <p>Dodano: <strong>{{pictureAdded | date: "dd/M/yy, HH:mm"}}</strong></p>
  </div>

  <div class="d-flex align-items-start justify-content-center justify-content-md-start" label="Opis obrazka">
    <span class="bi bi-file-text-fill"></span>
    <p>
        {{!isWhitespace(description) ? "brak opisu" : description | slice:0:75}}
        <span *ngIf="description"><span *ngIf="description.length >= 75">...</span></span>
    </p>
  </div>
</div>
