.button{
    box-shadow: 0px 8px 11px 2px #000000ad;
    transition: all 0.2s;
    transform: translate(-50%, 0);
}
.button:hover{
    margin-bottom: -2px;
}
.button:active{
    margin-bottom: -6px;
    box-shadow: inset 0px 0px 11px 2px #000000ad;
}