<div class="main">

    <div class="card mb-5">
      <div class="card-body">

        <form class="text-center row" [formGroup]="form">

          <div class="col-12 pb-3">
            <h2>Wstaw obrazek</h2>
          </div>

<!--          Picture name -->
          <div class="text-left col-12 mt-3 mb-4">
            <span class="p-float-label">
              <input id="name-input" class="w-100" type="text"
                     [ngClass]="form.get('name')!.touched ? 'ng-dirty' : ''"
                     formControlName="name" pInputText>
              <label for="name-input">
                Nazwa obrazka
                <span class="text-danger">*</span>
              </label>
            </span>
            <span *ngIf="form.get('name')!.touched && form.get('name')!.invalid">
              <small id="name-input-error-required" class="px-1 p-error block"
                     *ngIf="form.get('name')!.errors!['required']">
                Proszę wypełnić to pole
              </small>
              <small id="name-input-error-minlength" class="px-1 p-error block"
                     *ngIf="form.get('name')!.errors!['minlength']">
                Nazwa obrazka powinna zawierać co najmniej 4 znaki
              </small>
            </span>
          </div>

<!--          Picture Image -->
          <div class="mb-4 text-left col-12">
            <div class="row">
              <div class="w-100 col-12">
                <input type="file" class="w-100" formControlName="img" (change)="fileChangeEvent($event)"/>
              </div>
            </div>

            <div class="row mt-2">
              <div class="text-center col-12" >
                <h5>Przytnij</h5>
                <image-cropper class="border" #cropperInput
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 3"
                  [resizeToWidth]="1024"
                  format="webp"
                  [containWithinAspectRatio]="true"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()">
                </image-cropper>
              </div>
            </div>

          </div>

<!--          Picture Desc-->
          <div class="mb-4 text-left col-12">
            <span class="p-float-label w-100">
              <textarea id="float-input" class="w-100" formControlName="description" rows="3" cols="30" pInputTextarea></textarea>
              <label for="float-input">Opis obrazka</label>
            </span>
          </div>

<!--          Picture tags-->
          <div class="mx-3 mb-4 w-100 text-left">
            <div class="p-float-label w-100">
              <p-chips #pChips
                       id="chips"
                       formControlName="tags"
                       [allowDuplicate]="false"
                       [addOnTab]="true"
                       [separator]="','"
                       (onAdd)="trimChips()">
                <ng-template let-item pTemplate="item">
                  <span class="bi bi-tag">{{item}}</span>
                </ng-template>
              </p-chips>
              <label for="chips">Tagi</label>
            </div>
            <p class="lh15 mt-1"><small id="chips-help" class="mx-1 text-muted">Możesz wprowadzić maksymalnie 6 tagów.</small></p>
            <p class="lh15"><small id="chips-help2" class="mx-1 text-muted">Naciśnij enter, aby dodać tag.</small></p>
          </div>

          <div class="col-12">
            <button pButton pRipple (click)="submit()" class="px-5" [disabled]="form.invalid">Wyślij</button>
          </div>

        </form>

      </div>
    </div>

</div>
