<div class="bg-dark text-white p-2 mx-3 mx-md-0 rounded shadow d-flex flex-column">
<!--  Title -->
  <div class="text-center pb-2">
    <h1>Panel wyszukiwania</h1>
    <h3>Wyszukaj, co cię interesuje</h3>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="d-sm-flex justify-content-center justify-content-sm-around w-100 mb-3">

        <div class="min-width d-flex justify-content-center pb-3 p-sm-0">
          <div>
            <p class="text-center text-sm-left">Szukaj wśród:</p>
            <div class="form-check">
              <input class="form-check-input" name="lookFor" type="radio"
                     id="lookForPictures" value="pictures" formControlName="lookFor" checked>
              <label class="form-check-label" for="lookForPictures">
                Obrazków
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" name="lookFor" type="radio"
                     id="lookForAccounts" value="accounts" formControlName="lookFor">
              <label class="form-check-label" for="lookForAccounts">
                Kont
              </label>
            </div>
          </div>
        </div>

        <div class="min-width d-flex justify-content-center">
          <div>
            <p class="text-center text-sm-left">Sortuj:</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sortBy"
                     id="sortByMostPopular" value="mostPopular" formControlName="sortBy" checked>
              <label class="form-check-label" for="sortByMostPopular">
                Najpopularniejsze
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sortBy"
                     id="sortByNewest" value="newest" formControlName="sortBy">
              <label class="form-check-label" for="sortByNewest">
                Najnowsze
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sortBy"
                     id="sortByMostLikes" value="mostLikes" formControlName="sortBy">
              <label class="form-check-label" for="sortByMostLikes">
                Najbardziej lubiane
              </label>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12">
        <input type="text" class="form-control" placeholder="Podaj frazę" formControlName="searchPhrase">
      </div>

    </div>

    <div class="d-flex justify-content-between mb-0">
      <button pButton pRipple type="reset" label="Wyczyść" class="p-button-secondary text-white p-button-text"></button>
      <button pButton pRipple type="submit" label="Wyszukaj" class="p-button-secondary text-white p-button-text"></button>
    </div>
  </form>

</div>
