<p-dialog header="Share to... " [(visible)]="dialogVisible" [draggable]="false" [style]="{ width: '400px' }"  >
    <div class="text-dark dark:text-dark-dark">
        <div class="h-[1px] w-full bg-surface-300 dark:bg-dark-surface-200"></div>
        <div class="p-3 h-fit w-full float-left cursor-pointer bg-surface-100 dark:bg-dark-surface-100 hover:bg-surface-300 dark:hover:bg-dark-surface-200">
            <div class="icon-facebook pr-3 icon-dark float-left"></div>
            <span (click)="shareFacebook()">Share to Facebook</span>
        </div>
        <div class="p-3 h-fit w-full float-left cursor-pointer bg-surface-100 dark:bg-dark-surface-100 hover:bg-surface-300 dark:hover:bg-dark-surface-200">
            <div class="icon-telegram pr-3 icon-dark float-left"></div>
            <span (click)="shareTelegram()">Share to Telegram</span>
        </div>
        <div class="p-3 h-fit w-full float-left cursor-pointer bg-surface-100 dark:bg-dark-surface-100 hover:bg-surface-300 dark:hover:bg-dark-surface-200">
            <div class="icon-twitter pr-3 icon-dark float-left"></div>
            <span (click)="shareTwitter()">Share to Twitter</span>
        </div>
        <div class="p-3 h-fit w-full float-left cursor-pointer bg-surface-100 dark:bg-dark-surface-100 hover:bg-surface-300 dark:hover:bg-dark-surface-200">
            <div class="icon-link pr-3 icon-dark float-left"></div>
            <span (click)="copyLink()">Copy link</span>
        </div>
    </div>
</p-dialog>

<button class="icon-dark m-0 icon-share text-dark dark:text-dark-dark" (click)="showDialog()"></button>