<div class="main">
  <div class="container">
    <div class="text-center row align-items-center">
      <div class="col-12 middle"><h1>404</h1></div>
      <div class="col-12 middle"><h2>Not found</h2></div>
    </div>

    <div>
      <h2>Do zrobienia:</h2>
      <ul>
        <li>Strona 404</li>
        <li>Strona moje konto</li>
        <li>Strona moje obrazki</li>
        <li>Strona regulamin</li>
        <li>Strona zmiana danych</li>
        <li>Strona polityka prywatności</li>
        <li>Strona trending</li>
        <li>Strona wyniki wyszukiwania</li>
        <li>Parsowanie daty w pictureComponent</li>
        <li>Navbar inny dla zalogowanego uzytkownika</li>
        <li>Refactor strony szczegóły</li>
      </ul>
    </div>

  </div>
</div>


