<main class="container px-3 py-2 main">

  <div class="row justify-content-center">

      <div class="col-12 col-md-8 col-lg-8 order-2 order-md-1 mt-3 p-0">
          <app-picture
            *ngFor="let picture of result!.items"
            [picture]="picture">
          </app-picture>
      </div>

      <div class="col-12 col-md-4 col-lg-3 order-1 px-3 pt-2 p-md-0 pl-md-4 order-md-2 mt-3">
        <app-sidebar></app-sidebar>
      </div>

    </div>

</main>

<nav class="paginator w-100 shadow border" *ngIf="result.page">
  <p-paginator [rows]="10" [totalRecords]="result.totalItems-1"
               (onPageChange)="paginate($event)"
               [pageLinkSize]="10"
               [showCurrentPageReport]="true"
               [currentPageReportTemplate]="'{currentPage} z {totalPages}'"
               [showJumpToPageInput]="true"
               aria-label="Select page">
  </p-paginator>
</nav>
