<main class="home-site">
  <div *ngIf="!result.items.length">
    <div *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
      <app-picture-skeleton></app-picture-skeleton>
    </div>
  </div>

  <app-picture-preview
    *ngFor="let picture of result!.items"
    [picture]="picture">
  </app-picture-preview>

</main>

<nav class="paginator w-100 shadow border" [ngClass]="result.page ? '' : 'd-none'">
    <app-global-paginator #customPaginator
      [totalItems]="result.totalItems"
      [pageSize]="10" (onPaginate)="paginate($event)">
    </app-global-paginator>
</nav>
